.Footer {
  box-sizing: border-box;
  padding-left: 15px;
  padding-right: 15px;
  background-color: rgba(238, 228, 218);
}
.FooterContainer{
  max-width: 1440px;
  margin: 0 auto;
}
.FooterLogoBox {
  padding: 50px 98px 40px 98px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid var(--separator-line);
}
.FooterMainContetnt {
  
}

@media only screen and (min-width: 766px) {

}

@media only screen and (min-width: 992px) {

}

@media screen and (min-width: 1440px) {

}
